/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:wght@400;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles of the Body*/
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        /* Standart text color */
        color: black;
        font-family: 'PT Sans', sans-serif;
    }

header {
    background-color: #9BB0A5;
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px black;  
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
        
}

main {
    background-color: #7AFAC4;
    /* Enlarges the main element so that the footer is pushed downwards*/
    flex: 1 0 auto;
}

footer {
    background-color: #4F6359;
    box-shadow: 0 2px 2px black;
    color: white;  




footer p {



}





}
#social-network-links {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color: white;
}


/* Styles the lopgo in the Header, Top Left*/
#dice-logo {
  height: auto;
  width: 30px;
  font-size: ;
  display: flex; 
  align-items: center;
  padding: 5px 0;
}

header a {
    text-decoration: none; 
    color: black;
}


/* Styles the Navbar in the Header*/
#navbar li {
    display: flex;
    font-size: 130%;
    float: right;
    padding: 0 5px;  
    
        
}