/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles of the Body*/
    body {
        min-height: 100vh;
        display: flex;
        felx-direction: colum;
        /* Standart text color */
        color: black;
    }
header {
    background-color: #9BB0A5;

}

main {
    background-color: #7AFAC4;
    /* Enlarges the main element so that the footer is pushed downwards*/
    flex: 1 0 auto;


}
footer {
    background-color: #4F6359; 


}

id navbar {
    display: flex;
 

}